<% if !user_signed_in? %>

	<style>
		body {
			background: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
			url("/index_image.jpg") no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		h1 {
			font-family: Viner Hand ITC;
			color: white;
		}
		p {
			font-family: Viner Hand ITC;
			color: white;
			font-size: 20px;
		}
		.container-index {
			margin-left: 15%;
			margin-right: 15%;
		}
		.href {
			color: orange;
		}
	</style>

	<br /><br /><br /><br />
	<div class="container-index row">
		<div class="col-sm-6">
			<h1>Welcome to HASN!</h1><br />
			<p>Connect with your friends.<br />Make new friends.<br />Share your adventures.<br />And over all, have fun!</p>
		</div>
		<div class="col-sm-6" align="justify"><br />
			<p>You are interested about HASN?<br />Begin your journey by creating a free account <a href="/users/sign_up" class="href">here</a>.<br /><br />You already have an account?<br />Sign in <a href="/users/sign_in" class="href">here</a>.
		</div>
	</div>


    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  	<div align="center" style="color: white;">Copyright © 2017 Alex's Web Development. All rights reserved.</div>

<% else %>

	<script type="text/javascript">document.location="/home"</script>

<% end %>