<% if !user_signed_in? %>

	<style>
		body {
			background: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
			url("/index_image.jpg") no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		h1 {
			font-family: Viner Hand ITC;
			color: white;
		}
		p {
			font-family: Viner Hand ITC;
			color: white;
			font-size: 20px;
		}
	</style>

	<br /><br /><br /><br />
	<h1>Welcome to HASN!</h1><br />
	<p>Connect with your friends.<br />Make new friends.<br />Share your adventures.<br />And over all, have fun!</p>


    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  	<div align="center" style="color: white;">Copyright © 2017 Alex's Web Development. All rights reserved.</div>

<% else %>

<% end %>