<div class="rows">
	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
				Stats1
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="panel panel-default">
  			<div class="panel-body">
				Feed1
			</div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
				About1
			</div>
		</div>
	</div>
</div>
<div class="rows">
	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
				Trends1
			</div>
		</div>
	</div>
</div>